<style>
html, body, div, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   background-image:url("<%= asset_path('splash/Splash' + Random.new.rand(1..15).to_s() + '.jpg') %>");
   background-color:slategrey;
   background-position:top;
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-size:100%;
}

#center-unit
{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  border-spacing:0;
  border-collapse:collapse;
}

#center-element
{
  vertical-align:middle;
  text-align:center;
  padding:0
}

.center-container
{
}

#splash
{
  width:100%;
  height:100%;
}

</style>

<table id="center-unit">
  <tr>
    <td id="center-element">
      <div class="center-container">
        
        
      </div>
    </td>
  </tr>
</table>